%section
  #footer
    .container.footer-container
      %address
        %strong UC San Diego
        9500 Gilman Dr.
        La Jolla, CA 92093
        (858) 534-2230
      %p Copyright © 2013 Regents of the University of California. All rights reserved.
      %ul.inline
        %li
          %a{:href => "http://www.ucsd.edu/_about/legal/index.html"} Terms & Conditions
        %li.muted
        %li= link_to '| Feedback'
        %li.muted
        %li
          %a{:href => "http://libraries.ucsd.edu/"} | Library Home
