%section.site_title
  %h1.text-center
    Welcome to Billing ILL.
    %span
      (Some description goes here.)
  %form
    .row
      .col-md-offset-2.col-md-8
        .input-group
          .input-group-btn
            %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
              %span.filter-text Invoice
              %span.caret
              %span.sr-only Toggle Dropdown
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Invoice
              %li
                %a{:href => "#"} Recharge
          %input.form-control.search-input(name="search_term" type="text" placeholder="Search Patron name or Invoice #")
            .input-group-btn
              %button.btn.btn-default(type="submit")
                %span.glyphicon.glyphicon-search.right2{"aria-hidden" => "true"}
    .row.text-center.search-options
      .span12.top15
        %span
          Search By:
        %label.checkbox-inline
          %input{:type => "checkbox", :value => ""}
            Patron Name
        %label.checkbox-inline
          %input{:type => "checkbox", :value => ""}
            Invoice Number
