%section.site_title
  %h1.text-center
    Welcome to Billing ILL.
    %span
      (Some description goes here.)
  .row
    .span12.text-center
      = form_tag search_recharges_path, method: "GET", class: "span12.for-search" do
        %input.form-control(name="search_term" type="text" placeholder="Enter search term here")
        %button.btn.btn-default.left3(type="submit") 
          %span.glyphicon.glyphicon-search.right2{"aria-hidden" => "true"}
      %br
      .row
        .span12.top10
          %span
            Search By:
          %label.checkbox-inline
            %input{:type => "checkbox", :value => ""}
              Patron Name
          %label.checkbox-inline
            %input{:type => "checkbox", :value => ""}
              Invoice Number