!!! 5
%html(lang="en-US")
  %body
    %p
      User Information
      %br/
      \================
      %br/
      Date:
      = @email_date
       
    %p
      \-------
      %br/
      DEPARTMENT:         Library - Interlibrary Loan Services
      %br/
      CONTACT NAME:     Roger Castillo   
      %br/
      EMAIL ADDRESS:    rccastillo@ucsd.edu
      %br/
      CONTACT PHONE:   858-534-5902
      %br/
      MAILCODE:             0175-A
      %br/
      Input File Name: 
      = @file_name
      %br/
      File Description: INPUT DATA FOR DEPARTMENTAL RECHARGES
      %br/
      Record Count:   
      = @record_count
    %p
      Date when input file is to be processed: 
      = @email_date
      %br/
      Process File Goes Into: IFIS Batch Journal Process
      %br/
      Please let me know if you have not received this file or if there is a problem with the file. 
    %p
      PLEASE NOTE FILE IS LOCATED in: /ftp/libzzz/in 
    %p
      Thank you!
      %br/
      Roger
