footer
  position: absolute
  bottom: 0
  height: 80px
  width: 100%
  border-top: 1px solid #ccc
  color: #999
  line-height: 1.5
  font-size: 90%
  background-color: white
  section
    // margin: 20px 0px 0 0
    address, p
      margin: 0
    ul.inline > li
      padding-left: 0
      padding-right: 0
      display: inline-block
      line-height: 20px
      list-style: none
    .container
      background: image-url("logo-ucsd-footer.png") no-repeat 100% 0

#footer
  background-color: white
  width: 100%
  margin-top: 10px

@media (max-width: 769px)
  footer
    section
      .container
        background: none
