section.site_title
  background: #f7f7f7
  h1
    font-size: 25px
    margin-top: 30px
    margin-bottom: 20px
    span
      font-size: 20px
  p.sign_up
    font-size: 24px
    margin-bottom: 30px
  form
    display: inline-block
    input[type="text"]
      width: 420px
      float: left
    input[type="submit"]
      margin-left: 10px
      float: left
  span
    padding-right: 15px
