html, body
  height: 100%
  /* The html and body elements cannot have any padding or margin. */

/* Wrapper for page content to push down footer */
#wrap
  min-height: 100%
  height: auto
  /* Negative indent footer by its height */
  margin: 0 auto -100px
  /* Pad bottom by footer height */
  padding: 0 0 100px

body
  margin: 20px
  //background-color: #E1E1E1
  a
    color: #AE1D00
  section.content
    padding-bottom: 10px
    //border-bottom: 3px solid #999999
    margin-bottom: 20px

section.ui-index
  background: #f7f7f7
  padding: 30px

fieldset.actions
  input[type="submit"]
    margin-right: 10px
