section#top-header
  background: url("bg.jpg") repeat 0 0
  a
    color: white
  form
    padding-top: 6px
    margin: 0
    input[type="text"]
      width: 300px

#dropdown-text > li > a
  color: black

.navbar-inner
  background: transparent
.navbar-inverse
  border-color: transparent
  .navbar-toggle
    border-color: white
  .navbar-toggle:hover, .navbar-toggle:focus
    background-color: gray

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus
  background-color: transparent
