.invoice-title h2, .invoice-title h3 {
  display: inline-block; }

.table > tbody > tr > .no-line {
  border-top: none; }
.table > thead > tr > .no-line {
  border-bottom: none; }
.table > tbody > tr > .thick-line {
  border-top: 2px solid; }

.logo {
  width: 200px; }

.invoice-header {
  font-size: 20;
  font-weight: bold; }

.invoice-org {
  font-size: 18;
  font-weight: bold; }

body {
  padding-top: 30px; }

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid black;
  margin: 1em 0;
  padding: 0; }

.small-indent {
  padding-left: 20px; }

.thead1 {
  font-size: 12px; }

.box {
  border: 2px solid black;
  padding: 5px; }

.invoice-address {
  text-align: right; }

.hr-margin {
  margin-top: 0px;
  margin-bottom: 0px; }

.descriptionOfCharges {
  margin-top: 8px; }

.box-bottom {
  clear: both; }

.invoice-address-inner {
  text-align: left; }
