<!doctype html>
%html
  %head
    %meta{:charset => "utf-8"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", :rel => "stylesheet"}/
    = wicked_pdf_stylesheet_link_tag "invoice"
  %body
    = yield